.m-0 {
    margin: 0 !important
}

.mt-0,
.my-0 {
    margin-top: 0 !important
}

.mr-0,
.mx-0 {
    margin-right: 0 !important
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important
}

.ml-0,
.mx-0 {
    margin-left: 0 !important
}

.m-1 {
    margin: .25rem !important
}

.mt-1,
.my-1 {
    margin-top: .25rem !important
}

.mr-1,
.mx-1 {
    margin-right: .25rem !important
}

.mb-1,
.my-1 {
    margin-bottom: .25rem !important
}

.ml-1,
.mx-1 {
    margin-left: .25rem !important
}

.m-2 {
    margin: .5rem !important
}

.mt-2,
.my-2 {
    margin-top: .5rem !important
}

.mr-2,
.mx-2 {
    margin-right: .5rem !important
}

.mb-2,
.my-2 {
    margin-bottom: .5rem !important
}

.ml-2,
.mx-2 {
    margin-left: .5rem !important
}

.m-3 {
    margin: 1rem !important
}

.mt-3,
.my-3 {
    margin-top: 1rem !important
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important
}

.m-4 {
    margin: 1.5rem !important
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important
}

.m-5 {
    margin: 3rem !important
}

.mt-5,
.my-5 {
    margin-top: 3rem !important
}

.mr-5,
.mx-5 {
    margin-right: 3rem !important
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important
}

.ml-5,
.mx-5 {
    margin-left: 3rem !important
}

.p-0 {
    padding: 0 !important
}

.pt-0,
.py-0 {
    padding-top: 0 !important
}

.pr-0,
.px-0 {
    padding-right: 0 !important
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important
}

.pl-0,
.px-0 {
    padding-left: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.pt-1,
.py-1 {
    padding-top: .25rem !important
}

.pr-1,
.px-1 {
    padding-right: .25rem !important
}

.pb-1,
.py-1 {
    padding-bottom: .25rem !important
}

.pl-1,
.px-1 {
    padding-left: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.pt-2,
.py-2 {
    padding-top: .5rem !important
}

.pr-2,
.px-2 {
    padding-right: .5rem !important
}

.pb-2,
.py-2 {
    padding-bottom: .5rem !important
}

.pl-2,
.px-2 {
    padding-left: .5rem !important
}

.p-3 {
    padding: 1rem !important
}

.pt-3,
.py-3 {
    padding-top: 1rem !important
}

.pr-3,
.px-3 {
    padding-right: 1rem !important
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important
}

.pl-3,
.px-3 {
    padding-left: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important
}

.pr-4,
.px-4 {
    padding-right: 1.5rem !important
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important
}

.p-5 {
    padding: 3rem !important
}

.pt-5,
.py-5 {
    padding-top: 3rem !important
}

.pr-5,
.px-5 {
    padding-right: 3rem !important
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important
}

.pl-5,
.px-5 {
    padding-left: 3rem !important
}

.m-auto {
    margin: auto !important
}

.mt-auto,
.my-auto {
    margin-top: auto !important
}

.mr-auto,
.mx-auto {
    margin-right: auto !important
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important
}

.ml-auto,
.mx-auto {
    margin-left: auto !important
}

@media (min-width: 576px) {
    .m-sm-0 {
        margin: 0 !important
    }

    .mt-sm-0,
    .my-sm-0 {
        margin-top: 0 !important
    }

    .mr-sm-0,
    .mx-sm-0 {
        margin-right: 0 !important
    }

    .mb-sm-0,
    .my-sm-0 {
        margin-bottom: 0 !important
    }

    .ml-sm-0,
    .mx-sm-0 {
        margin-left: 0 !important
    }

    .m-sm-1 {
        margin: .25rem !important
    }

    .mt-sm-1,
    .my-sm-1 {
        margin-top: .25rem !important
    }

    .mr-sm-1,
    .mx-sm-1 {
        margin-right: .25rem !important
    }

    .mb-sm-1,
    .my-sm-1 {
        margin-bottom: .25rem !important
    }

    .ml-sm-1,
    .mx-sm-1 {
        margin-left: .25rem !important
    }

    .m-sm-2 {
        margin: .5rem !important
    }

    .mt-sm-2,
    .my-sm-2 {
        margin-top: .5rem !important
    }

    .mr-sm-2,
    .mx-sm-2 {
        margin-right: .5rem !important
    }

    .mb-sm-2,
    .my-sm-2 {
        margin-bottom: .5rem !important
    }

    .ml-sm-2,
    .mx-sm-2 {
        margin-left: .5rem !important
    }

    .m-sm-3 {
        margin: 1rem !important
    }

    .mt-sm-3,
    .my-sm-3 {
        margin-top: 1rem !important
    }

    .mr-sm-3,
    .mx-sm-3 {
        margin-right: 1rem !important
    }

    .mb-sm-3,
    .my-sm-3 {
        margin-bottom: 1rem !important
    }

    .ml-sm-3,
    .mx-sm-3 {
        margin-left: 1rem !important
    }

    .m-sm-4 {
        margin: 1.5rem !important
    }

    .mt-sm-4,
    .my-sm-4 {
        margin-top: 1.5rem !important
    }

    .mr-sm-4,
    .mx-sm-4 {
        margin-right: 1.5rem !important
    }

    .mb-sm-4,
    .my-sm-4 {
        margin-bottom: 1.5rem !important
    }

    .ml-sm-4,
    .mx-sm-4 {
        margin-left: 1.5rem !important
    }

    .m-sm-5 {
        margin: 3rem !important
    }

    .mt-sm-5,
    .my-sm-5 {
        margin-top: 3rem !important
    }

    .mr-sm-5,
    .mx-sm-5 {
        margin-right: 3rem !important
    }

    .mb-sm-5,
    .my-sm-5 {
        margin-bottom: 3rem !important
    }

    .ml-sm-5,
    .mx-sm-5 {
        margin-left: 3rem !important
    }

    .p-sm-0 {
        padding: 0 !important
    }

    .pt-sm-0,
    .py-sm-0 {
        padding-top: 0 !important
    }

    .pr-sm-0,
    .px-sm-0 {
        padding-right: 0 !important
    }

    .pb-sm-0,
    .py-sm-0 {
        padding-bottom: 0 !important
    }

    .pl-sm-0,
    .px-sm-0 {
        padding-left: 0 !important
    }

    .p-sm-1 {
        padding: .25rem !important
    }

    .pt-sm-1,
    .py-sm-1 {
        padding-top: .25rem !important
    }

    .pr-sm-1,
    .px-sm-1 {
        padding-right: .25rem !important
    }

    .pb-sm-1,
    .py-sm-1 {
        padding-bottom: .25rem !important
    }

    .pl-sm-1,
    .px-sm-1 {
        padding-left: .25rem !important
    }

    .p-sm-2 {
        padding: .5rem !important
    }

    .pt-sm-2,
    .py-sm-2 {
        padding-top: .5rem !important
    }

    .pr-sm-2,
    .px-sm-2 {
        padding-right: .5rem !important
    }

    .pb-sm-2,
    .py-sm-2 {
        padding-bottom: .5rem !important
    }

    .pl-sm-2,
    .px-sm-2 {
        padding-left: .5rem !important
    }

    .p-sm-3 {
        padding: 1rem !important
    }

    .pt-sm-3,
    .py-sm-3 {
        padding-top: 1rem !important
    }

    .pr-sm-3,
    .px-sm-3 {
        padding-right: 1rem !important
    }

    .pb-sm-3,
    .py-sm-3 {
        padding-bottom: 1rem !important
    }

    .pl-sm-3,
    .px-sm-3 {
        padding-left: 1rem !important
    }

    .p-sm-4 {
        padding: 1.5rem !important
    }

    .pt-sm-4,
    .py-sm-4 {
        padding-top: 1.5rem !important
    }

    .pr-sm-4,
    .px-sm-4 {
        padding-right: 1.5rem !important
    }

    .pb-sm-4,
    .py-sm-4 {
        padding-bottom: 1.5rem !important
    }

    .pl-sm-4,
    .px-sm-4 {
        padding-left: 1.5rem !important
    }

    .p-sm-5 {
        padding: 3rem !important
    }

    .pt-sm-5,
    .py-sm-5 {
        padding-top: 3rem !important
    }

    .pr-sm-5,
    .px-sm-5 {
        padding-right: 3rem !important
    }

    .pb-sm-5,
    .py-sm-5 {
        padding-bottom: 3rem !important
    }

    .pl-sm-5,
    .px-sm-5 {
        padding-left: 3rem !important
    }

    .m-sm-auto {
        margin: auto !important
    }

    .mt-sm-auto,
    .my-sm-auto {
        margin-top: auto !important
    }

    .mr-sm-auto,
    .mx-sm-auto {
        margin-right: auto !important
    }

    .mb-sm-auto,
    .my-sm-auto {
        margin-bottom: auto !important
    }

    .ml-sm-auto,
    .mx-sm-auto {
        margin-left: auto !important
    }
}

@media (min-width: 768px) {
    .m-md-0 {
        margin: 0 !important
    }

    .mt-md-0,
    .my-md-0 {
        margin-top: 0 !important
    }

    .mr-md-0,
    .mx-md-0 {
        margin-right: 0 !important
    }

    .mb-md-0,
    .my-md-0 {
        margin-bottom: 0 !important
    }

    .ml-md-0,
    .mx-md-0 {
        margin-left: 0 !important
    }

    .m-md-1 {
        margin: .25rem !important
    }

    .mt-md-1,
    .my-md-1 {
        margin-top: .25rem !important
    }

    .mr-md-1,
    .mx-md-1 {
        margin-right: .25rem !important
    }

    .mb-md-1,
    .my-md-1 {
        margin-bottom: .25rem !important
    }

    .ml-md-1,
    .mx-md-1 {
        margin-left: .25rem !important
    }

    .m-md-2 {
        margin: .5rem !important
    }

    .mt-md-2,
    .my-md-2 {
        margin-top: .5rem !important
    }

    .mr-md-2,
    .mx-md-2 {
        margin-right: .5rem !important
    }

    .mb-md-2,
    .my-md-2 {
        margin-bottom: .5rem !important
    }

    .ml-md-2,
    .mx-md-2 {
        margin-left: .5rem !important
    }

    .m-md-3 {
        margin: 1rem !important
    }

    .mt-md-3,
    .my-md-3 {
        margin-top: 1rem !important
    }

    .mr-md-3,
    .mx-md-3 {
        margin-right: 1rem !important
    }

    .mb-md-3,
    .my-md-3 {
        margin-bottom: 1rem !important
    }

    .ml-md-3,
    .mx-md-3 {
        margin-left: 1rem !important
    }

    .m-md-4 {
        margin: 1.5rem !important
    }

    .mt-md-4,
    .my-md-4 {
        margin-top: 1.5rem !important
    }

    .mr-md-4,
    .mx-md-4 {
        margin-right: 1.5rem !important
    }

    .mb-md-4,
    .my-md-4 {
        margin-bottom: 1.5rem !important
    }

    .ml-md-4,
    .mx-md-4 {
        margin-left: 1.5rem !important
    }

    .m-md-5 {
        margin: 3rem !important
    }

    .mt-md-5,
    .my-md-5 {
        margin-top: 3rem !important
    }

    .mr-md-5,
    .mx-md-5 {
        margin-right: 3rem !important
    }

    .mb-md-5,
    .my-md-5 {
        margin-bottom: 3rem !important
    }

    .ml-md-5,
    .mx-md-5 {
        margin-left: 3rem !important
    }

    .p-md-0 {
        padding: 0 !important
    }

    .pt-md-0,
    .py-md-0 {
        padding-top: 0 !important
    }

    .pr-md-0,
    .px-md-0 {
        padding-right: 0 !important
    }

    .pb-md-0,
    .py-md-0 {
        padding-bottom: 0 !important
    }

    .pl-md-0,
    .px-md-0 {
        padding-left: 0 !important
    }

    .p-md-1 {
        padding: .25rem !important
    }

    .pt-md-1,
    .py-md-1 {
        padding-top: .25rem !important
    }

    .pr-md-1,
    .px-md-1 {
        padding-right: .25rem !important
    }

    .pb-md-1,
    .py-md-1 {
        padding-bottom: .25rem !important
    }

    .pl-md-1,
    .px-md-1 {
        padding-left: .25rem !important
    }

    .p-md-2 {
        padding: .5rem !important
    }

    .pt-md-2,
    .py-md-2 {
        padding-top: .5rem !important
    }

    .pr-md-2,
    .px-md-2 {
        padding-right: .5rem !important
    }

    .pb-md-2,
    .py-md-2 {
        padding-bottom: .5rem !important
    }

    .pl-md-2,
    .px-md-2 {
        padding-left: .5rem !important
    }

    .p-md-3 {
        padding: 1rem !important
    }

    .pt-md-3,
    .py-md-3 {
        padding-top: 1rem !important
    }

    .pr-md-3,
    .px-md-3 {
        padding-right: 1rem !important
    }

    .pb-md-3,
    .py-md-3 {
        padding-bottom: 1rem !important
    }

    .pl-md-3,
    .px-md-3 {
        padding-left: 1rem !important
    }

    .p-md-4 {
        padding: 1.5rem !important
    }

    .pt-md-4,
    .py-md-4 {
        padding-top: 1.5rem !important
    }

    .pr-md-4,
    .px-md-4 {
        padding-right: 1.5rem !important
    }

    .pb-md-4,
    .py-md-4 {
        padding-bottom: 1.5rem !important
    }

    .pl-md-4,
    .px-md-4 {
        padding-left: 1.5rem !important
    }

    .p-md-5 {
        padding: 3rem !important
    }

    .pt-md-5,
    .py-md-5 {
        padding-top: 3rem !important
    }

    .pr-md-5,
    .px-md-5 {
        padding-right: 3rem !important
    }

    .pb-md-5,
    .py-md-5 {
        padding-bottom: 3rem !important
    }

    .pl-md-5,
    .px-md-5 {
        padding-left: 3rem !important
    }

    .m-md-auto {
        margin: auto !important
    }

    .mt-md-auto,
    .my-md-auto {
        margin-top: auto !important
    }

    .mr-md-auto,
    .mx-md-auto {
        margin-right: auto !important
    }

    .mb-md-auto,
    .my-md-auto {
        margin-bottom: auto !important
    }

    .ml-md-auto,
    .mx-md-auto {
        margin-left: auto !important
    }
}

@media (min-width: 992px) {
    .m-lg-0 {
        margin: 0 !important
    }

    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0 !important
    }

    .mr-lg-0,
    .mx-lg-0 {
        margin-right: 0 !important
    }

    .mb-lg-0,
    .my-lg-0 {
        margin-bottom: 0 !important
    }

    .ml-lg-0,
    .mx-lg-0 {
        margin-left: 0 !important
    }

    .m-lg-1 {
        margin: .25rem !important
    }

    .mt-lg-1,
    .my-lg-1 {
        margin-top: .25rem !important
    }

    .mr-lg-1,
    .mx-lg-1 {
        margin-right: .25rem !important
    }

    .mb-lg-1,
    .my-lg-1 {
        margin-bottom: .25rem !important
    }

    .ml-lg-1,
    .mx-lg-1 {
        margin-left: .25rem !important
    }

    .m-lg-2 {
        margin: .5rem !important
    }

    .mt-lg-2,
    .my-lg-2 {
        margin-top: .5rem !important
    }

    .mr-lg-2,
    .mx-lg-2 {
        margin-right: .5rem !important
    }

    .mb-lg-2,
    .my-lg-2 {
        margin-bottom: .5rem !important
    }

    .ml-lg-2,
    .mx-lg-2 {
        margin-left: .5rem !important
    }

    .m-lg-3 {
        margin: 1rem !important
    }

    .mt-lg-3,
    .my-lg-3 {
        margin-top: 1rem !important
    }

    .mr-lg-3,
    .mx-lg-3 {
        margin-right: 1rem !important
    }

    .mb-lg-3,
    .my-lg-3 {
        margin-bottom: 1rem !important
    }

    .ml-lg-3,
    .mx-lg-3 {
        margin-left: 1rem !important
    }

    .m-lg-4 {
        margin: 1.5rem !important
    }

    .mt-lg-4,
    .my-lg-4 {
        margin-top: 1.5rem !important
    }

    .mr-lg-4,
    .mx-lg-4 {
        margin-right: 1.5rem !important
    }

    .mb-lg-4,
    .my-lg-4 {
        margin-bottom: 1.5rem !important
    }

    .ml-lg-4,
    .mx-lg-4 {
        margin-left: 1.5rem !important
    }

    .m-lg-5 {
        margin: 3rem !important
    }

    .mt-lg-5,
    .my-lg-5 {
        margin-top: 3rem !important
    }

    .mr-lg-5,
    .mx-lg-5 {
        margin-right: 3rem !important
    }

    .mb-lg-5,
    .my-lg-5 {
        margin-bottom: 3rem !important
    }

    .ml-lg-5,
    .mx-lg-5 {
        margin-left: 3rem !important
    }

    .p-lg-0 {
        padding: 0 !important
    }

    .pt-lg-0,
    .py-lg-0 {
        padding-top: 0 !important
    }

    .pr-lg-0,
    .px-lg-0 {
        padding-right: 0 !important
    }

    .pb-lg-0,
    .py-lg-0 {
        padding-bottom: 0 !important
    }

    .pl-lg-0,
    .px-lg-0 {
        padding-left: 0 !important
    }

    .p-lg-1 {
        padding: .25rem !important
    }

    .pt-lg-1,
    .py-lg-1 {
        padding-top: .25rem !important
    }

    .pr-lg-1,
    .px-lg-1 {
        padding-right: .25rem !important
    }

    .pb-lg-1,
    .py-lg-1 {
        padding-bottom: .25rem !important
    }

    .pl-lg-1,
    .px-lg-1 {
        padding-left: .25rem !important
    }

    .p-lg-2 {
        padding: .5rem !important
    }

    .pt-lg-2,
    .py-lg-2 {
        padding-top: .5rem !important
    }

    .pr-lg-2,
    .px-lg-2 {
        padding-right: .5rem !important
    }

    .pb-lg-2,
    .py-lg-2 {
        padding-bottom: .5rem !important
    }

    .pl-lg-2,
    .px-lg-2 {
        padding-left: .5rem !important
    }

    .p-lg-3 {
        padding: 1rem !important
    }

    .pt-lg-3,
    .py-lg-3 {
        padding-top: 1rem !important
    }

    .pr-lg-3,
    .px-lg-3 {
        padding-right: 1rem !important
    }

    .pb-lg-3,
    .py-lg-3 {
        padding-bottom: 1rem !important
    }

    .pl-lg-3,
    .px-lg-3 {
        padding-left: 1rem !important
    }

    .p-lg-4 {
        padding: 1.5rem !important
    }

    .pt-lg-4,
    .py-lg-4 {
        padding-top: 1.5rem !important
    }

    .pr-lg-4,
    .px-lg-4 {
        padding-right: 1.5rem !important
    }

    .pb-lg-4,
    .py-lg-4 {
        padding-bottom: 1.5rem !important
    }

    .pl-lg-4,
    .px-lg-4 {
        padding-left: 1.5rem !important
    }

    .p-lg-5 {
        padding: 3rem !important
    }

    .pt-lg-5,
    .py-lg-5 {
        padding-top: 3rem !important
    }

    .pr-lg-5,
    .px-lg-5 {
        padding-right: 3rem !important
    }

    .pb-lg-5,
    .py-lg-5 {
        padding-bottom: 3rem !important
    }

    .pl-lg-5,
    .px-lg-5 {
        padding-left: 3rem !important
    }

    .m-lg-auto {
        margin: auto !important
    }

    .mt-lg-auto,
    .my-lg-auto {
        margin-top: auto !important
    }

    .mr-lg-auto,
    .mx-lg-auto {
        margin-right: auto !important
    }

    .mb-lg-auto,
    .my-lg-auto {
        margin-bottom: auto !important
    }

    .ml-lg-auto,
    .mx-lg-auto {
        margin-left: auto !important
    }
}

@media (min-width: 1200px) {
    .m-xl-0 {
        margin: 0 !important
    }

    .mt-xl-0,
    .my-xl-0 {
        margin-top: 0 !important
    }

    .mr-xl-0,
    .mx-xl-0 {
        margin-right: 0 !important
    }

    .mb-xl-0,
    .my-xl-0 {
        margin-bottom: 0 !important
    }

    .ml-xl-0,
    .mx-xl-0 {
        margin-left: 0 !important
    }

    .m-xl-1 {
        margin: .25rem !important
    }

    .mt-xl-1,
    .my-xl-1 {
        margin-top: .25rem !important
    }

    .mr-xl-1,
    .mx-xl-1 {
        margin-right: .25rem !important
    }

    .mb-xl-1,
    .my-xl-1 {
        margin-bottom: .25rem !important
    }

    .ml-xl-1,
    .mx-xl-1 {
        margin-left: .25rem !important
    }

    .m-xl-2 {
        margin: .5rem !important
    }

    .mt-xl-2,
    .my-xl-2 {
        margin-top: .5rem !important
    }

    .mr-xl-2,
    .mx-xl-2 {
        margin-right: .5rem !important
    }

    .mb-xl-2,
    .my-xl-2 {
        margin-bottom: .5rem !important
    }

    .ml-xl-2,
    .mx-xl-2 {
        margin-left: .5rem !important
    }

    .m-xl-3 {
        margin: 1rem !important
    }

    .mt-xl-3,
    .my-xl-3 {
        margin-top: 1rem !important
    }

    .mr-xl-3,
    .mx-xl-3 {
        margin-right: 1rem !important
    }

    .mb-xl-3,
    .my-xl-3 {
        margin-bottom: 1rem !important
    }

    .ml-xl-3,
    .mx-xl-3 {
        margin-left: 1rem !important
    }

    .m-xl-4 {
        margin: 1.5rem !important
    }

    .mt-xl-4,
    .my-xl-4 {
        margin-top: 1.5rem !important
    }

    .mr-xl-4,
    .mx-xl-4 {
        margin-right: 1.5rem !important
    }

    .mb-xl-4,
    .my-xl-4 {
        margin-bottom: 1.5rem !important
    }

    .ml-xl-4,
    .mx-xl-4 {
        margin-left: 1.5rem !important
    }

    .m-xl-5 {
        margin: 3rem !important
    }

    .mt-xl-5,
    .my-xl-5 {
        margin-top: 3rem !important
    }

    .mr-xl-5,
    .mx-xl-5 {
        margin-right: 3rem !important
    }

    .mb-xl-5,
    .my-xl-5 {
        margin-bottom: 3rem !important
    }

    .ml-xl-5,
    .mx-xl-5 {
        margin-left: 3rem !important
    }

    .p-xl-0 {
        padding: 0 !important
    }

    .pt-xl-0,
    .py-xl-0 {
        padding-top: 0 !important
    }

    .pr-xl-0,
    .px-xl-0 {
        padding-right: 0 !important
    }

    .pb-xl-0,
    .py-xl-0 {
        padding-bottom: 0 !important
    }

    .pl-xl-0,
    .px-xl-0 {
        padding-left: 0 !important
    }

    .p-xl-1 {
        padding: .25rem !important
    }

    .pt-xl-1,
    .py-xl-1 {
        padding-top: .25rem !important
    }

    .pr-xl-1,
    .px-xl-1 {
        padding-right: .25rem !important
    }

    .pb-xl-1,
    .py-xl-1 {
        padding-bottom: .25rem !important
    }

    .pl-xl-1,
    .px-xl-1 {
        padding-left: .25rem !important
    }

    .p-xl-2 {
        padding: .5rem !important
    }

    .pt-xl-2,
    .py-xl-2 {
        padding-top: .5rem !important
    }

    .pr-xl-2,
    .px-xl-2 {
        padding-right: .5rem !important
    }

    .pb-xl-2,
    .py-xl-2 {
        padding-bottom: .5rem !important
    }

    .pl-xl-2,
    .px-xl-2 {
        padding-left: .5rem !important
    }

    .p-xl-3 {
        padding: 1rem !important
    }

    .pt-xl-3,
    .py-xl-3 {
        padding-top: 1rem !important
    }

    .pr-xl-3,
    .px-xl-3 {
        padding-right: 1rem !important
    }

    .pb-xl-3,
    .py-xl-3 {
        padding-bottom: 1rem !important
    }

    .pl-xl-3,
    .px-xl-3 {
        padding-left: 1rem !important
    }

    .p-xl-4 {
        padding: 1.5rem !important
    }

    .pt-xl-4,
    .py-xl-4 {
        padding-top: 1.5rem !important
    }

    .pr-xl-4,
    .px-xl-4 {
        padding-right: 1.5rem !important
    }

    .pb-xl-4,
    .py-xl-4 {
        padding-bottom: 1.5rem !important
    }

    .pl-xl-4,
    .px-xl-4 {
        padding-left: 1.5rem !important
    }

    .p-xl-5 {
        padding: 3rem !important
    }

    .pt-xl-5,
    .py-xl-5 {
        padding-top: 3rem !important
    }

    .pr-xl-5,
    .px-xl-5 {
        padding-right: 3rem !important
    }

    .pb-xl-5,
    .py-xl-5 {
        padding-bottom: 3rem !important
    }

    .pl-xl-5,
    .px-xl-5 {
        padding-left: 3rem !important
    }

    .m-xl-auto {
        margin: auto !important
    }

    .mt-xl-auto,
    .my-xl-auto {
        margin-top: auto !important
    }

    .mr-xl-auto,
    .mx-xl-auto {
        margin-right: auto !important
    }

    .mb-xl-auto,
    .my-xl-auto {
        margin-bottom: auto !important
    }

    .ml-xl-auto,
    .mx-xl-auto {
        margin-left: auto !important
    }
}


.portfolio-block {
    padding-bottom: 60px;
    padding-top: 60px
}

.portfolio-block .heading {
    margin-bottom: 50px;
    text-align: center
}

.portfolio-block .heading h2 {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase
}

.portfolio-block .heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: .7
}

.portfolio-block.block-intro {
    text-align: center
}

.portfolio-block.block-intro .about-me {
    max-width: 800px;
    margin: 0 auto
}

.portfolio-block.block-intro p {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 30px
}

.portfolio-block.block-intro .avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px
}

.portfolio-block.website h3 {
    font-weight: 700
}

.portfolio-block.website p {
    opacity: .9
}

.portfolio-laptop-mockup {
    margin: auto;
    margin-top: 30px;
    max-width: 280px
}

.portfolio-block.mobile-app .text, .portfolio-block.website .text {
    text-align: center
}

.portfolio-laptop-mockup .screen {
    border: 1px solid #9c9c9c;
    border-bottom: none;
    width: 250px;
    height: 160px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    left: 15px
}

.portfolio-laptop-mockup .screen .screen-content {
    border: 1px solid #c5c5c5;
    background-position: 50%;
    background-size: cover;
    height: 100%
}

.portfolio-laptop-mockup .keyboard {
    width: 280px;
    height: 10px;
    border: 1px solid #9c9c9c;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #fff
}

.portfolio-block.photography {
    padding-top: 0;
    padding-bottom: 0
}

.portfolio-block.photography .item {
    overflow: hidden;
    margin-bottom: 0;
    background: #000;
    opacity: 1
}

.portfolio-block.photography .item a img {
    transition: .8s ease
}

.portfolio-block.skills {
    border-bottom: 1px solid #ddd
}

.special-skill-item {
    margin-bottom: 30px;
    text-align: center
}

.special-skill-item .icon {
    text-align: center;
    font-size: 50px;
    background-color: #0ea0ff;
    color: #fff;
    height: 70px;
    width: 70px;
    line-height: 69px;
    display: inline-block;
    border-radius: 50%
}

.special-skill-item h3 {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 10px
}

.special-skill-item p {
    color: #8e8e8e
}

.portfolio-block.call-to-action {
    padding-top: 60px;
    padding-bottom: 60px
}

.portfolio-block.call-to-action .content {
    -ms-flex-direction: column;
    flex-direction: column
}

.portfolio-block.mobile-app {
    padding-top: 80px;
    padding-bottom: 80px
}

.portfolio-block.mobile-app h3 {
    font-weight: 700
}

.portfolio-block.mobile-app p {
    opacity: .9
}

.portfolio-phone-mockup {
    border: 1px solid #9c9c9c;
    width: 150px;
    height: 300px;
    padding: 15px 7px 0;
    border-radius: 15px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 20px
}

.portfolio-phone-mockup .phone-screen {
    height: 240px;
    border: 1px solid #9c9c9c;
    margin-bottom: 7px;
    background-size: cover
}

.portfolio-phone-mockup .home-button {
    width: 28px;
    height: 28px;
    background: #fdfeff;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin: auto
}

.portfolio-block.cv {
    padding-top: 70px
}

.portfolio-block.cv h2 {
    font-weight: 700;
    margin-bottom: 70px
}

.portfolio-block.cv h3 {
    font-size: 1.3rem
}

.portfolio-block.cv .group {
    max-width: 800px;
    margin: auto
}

.portfolio-block.cv .group:not(:first-child) {
    margin-top: 90px
}

.portfolio-block.cv .group .period {
    font-size: .8rem;
    float: none;
    font-weight: 700;
    margin-top: 4px;
    color: #6c757d;
    opacity: .8
}

.portfolio-block.cv .group .organization {
    font-size: .85em;
    background-color: #0ea0ff;
    display: inline-block;
    color: #fff;
    padding: 2px 8px;
    border-radius: 2em
}

.portfolio-block.cv .education.group .organization {
    background-color: #20c997
}

.portfolio-block.cv .group .item {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee
}

.portfolio-block.cv .group h2 + .item {
    padding-top: 25px;
    border-top: 1px solid #eee
}

.portfolio-block.cv .group .item .row {
    margin-bottom: 5px
}

.portfolio-block.cv .education h3, .portfolio-block.cv .work-experience h3 {
    font-weight: 700
}

.portfolio-info-card {
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    height: 100%
}

.portfolio-info-card h2 {
    margin-top: 0;
    margin-bottom: 24px !important;
    font-size: 1.4rem
}

.portfolio-info-card.skills h3 {
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 700
}

.portfolio-info-card.skills .progress {
    height: 3px
}

.portfolio-info-card.contact-info {
    font-weight: 300
}

.portfolio-info-card.contact-info .icon {
    font-size: 1.3em;
    color: #6091ef;
    position: relative;
    bottom: 4px
}

.portfolio-block.cv .hobbies p {
    max-width: 700px;
    margin: auto;
    font-size: 1.2em;
    font-weight: 300
}

.portfolio-block.projects-with-sidebar .sidebar {
    padding-left: 20px;
    padding-bottom: 15px;
    display: -ms-flexbox;
    display: flex;
    overflow: auto
}

.portfolio-block.projects-with-sidebar .sidebar li:not(:last-child) {
    margin-right: 20px
}

.portfolio-block.projects-with-sidebar .sidebar .active {
    font-weight: 700
}

.portfolio-block.projects-with-sidebar a {
    color: #212529;
    font-weight: 300
}

.portfolio-block.projects-with-sidebar a:hover {
    opacity: .8
}

.project-sidebar-card img {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    transition: .4s
}

.project-sidebar-card {
    margin-bottom: 20px
}

.portfolio-block.compact-grid .item {
    overflow: hidden;
    margin-bottom: 0;
    background: #000;
    opacity: 1
}

.portfolio-block.compact-grid .item .image {
    transition: .8s ease
}

.portfolio-block.compact-grid .item .info {
    position: relative;
    display: inline-block
}

.portfolio-block.compact-grid .item .description {
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: .8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .39))
}

.portfolio-block.compact-grid .item .description .description-heading {
    font-size: 1em;
    font-weight: 700
}

.portfolio-block.compact-grid .item .description .description-body {
    font-size: .8em;
    margin-top: 10px;
    font-weight: 300
}

.portfolio-block.projects-cards h6 {
    font-size: 1.1rem;
    font-weight: 700
}

.portfolio-block.projects-cards a img {
    transition: .5s ease
}

.portfolio-block.projects-cards .card img {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15)
}

.portfolio-block.projects-cards .card-body {
    text-align: center
}

.portfolio-block.projects-cards .card-body p {
    font-size: .9em
}

.portfolio-block.projects-cards a {
    color: #212529
}

.portfolio-block.projects-cards a:hover {
    text-decoration: none
}

.portfolio-block.projects-cards .card {
    margin-bottom: 30px
}

.project-card-no-image {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    padding: 35px;
    border-top: 4px solid #0ea0ff;
    margin-bottom: 30px
}

.project-card-no-image h3 {
    font-size: 1.3em;
    margin-bottom: 20px
}

.project-card-no-image h4 {
    font-size: 1em;
    opacity: .6;
    margin-bottom: 20px
}

.project-card-no-image .tags {
    text-transform: uppercase;
    float: right;
    font-size: .75em;
    margin-top: 7px
}

.project-card-no-image .tags a {
    color: #979797
}

.portfolio-block form {
    max-width: 650px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}

.portfolio-block.hire-me form .button button {
    margin-top: 30px
}

.portfolio-block.project .image {
    height: 180px;
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%
}

.portfolio-block.project h3 {
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 20px
}

.portfolio-block.project .info p {
    font-size: 1.1em;
    font-weight: 300
}

.portfolio-block.project .meta {
    padding-left: 15px
}

.portfolio-block.project .meta .tags .meta-heading {
    color: #22245b;
    margin-bottom: 5px;
    font-weight: 700
}

.portfolio-block.project .meta .tags {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #979797
}

.portfolio-block.project .tags a {
    color: #979797
}

.portfolio-block.project .more-projects {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    padding-top: 60px
}

.portfolio-block.project .more-projects h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 60px
}

.portfolio-block.project .gallery {
    margin-top: 30px
}

.portfolio-block.project .gallery .item {
    margin-bottom: 20px
}

.portfolio-block.project .gallery .item img {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    transition: .4s
}

.portfolio-block.partners {
    padding: 50px 0;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column
}

.portfolio-block.partners a img {
    max-width: 170px;
    -webkit-filter: grayscale(.8);
    filter: grayscale(.8)
}

.portfolio-block.partners a:not(:last-child) img {
    margin-bottom: 20px
}

@media (min-width: 576px) {
    .portfolio-block.project .image {
        height: 240px
    }

    .scale-on-hover:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow: 0 10px 10px rgba(0, 0, 0, .15) !important
    }

    .zoom-on-hover:hover .image {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: .7
    }

    .portfolio-block.compact-grid .item .description {
        opacity: 0
    }

    .portfolio-block.compact-grid .item a:hover .description {
        opacity: 1
    }
}

@media (min-width: 768px) {
    .portfolio-block .heading {
        margin-bottom: 80px
    }

    .portfolio-block {
        padding-bottom: 100px;
        padding-top: 100px
    }

    .portfolio-block .heading h2 {
        font-size: 2rem
    }

    .portfolio-block.cv .details {
        margin-top: 0
    }

    .portfolio-block.cv .item {
        font-weight: 300
    }

    .portfolio-block form {
        padding: 50px
    }

    .portfolio-laptop-mockup {
        max-width: 350px
    }

    .portfolio-laptop-mockup .screen {
        width: 320px;
        height: 210px
    }

    .portfolio-laptop-mockup .keyboard {
        width: 350px
    }

    .portfolio-block.cv .group .period {
        float: right
    }

    .portfolio-block.project .meta {
        padding-left: 45px
    }

    .portfolio-block.project .image {
        height: 340px
    }

    .portfolio-block.call-to-action .content {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .portfolio-block.call-to-action h3 {
        margin-right: 40px
    }

    .portfolio-block.projects-with-sidebar .sidebar {
        display: block
    }

    .portfolio-block.partners {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .portfolio-block.partners a:not(:last-child) img {
        margin-right: 20px;
        margin-bottom: 0
    }
}

@media (min-width: 992px) {
    .portfolio-laptop-mockup {
        margin-top: 0
    }

    .portfolio-block.mobile-app .text, .portfolio-block.website .text {
        text-align: right
    }

    .portfolio-block.project .image {
        height: 450px
    }
}

.portfolio-navbar.navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1)
}

.portfolio-navbar .navbar-nav .nav-link {
    font-weight: 700
}

.portfolio-navbar .navbar-nav .nav-item {
    padding-right: 2rem
}

.portfolio-navbar .navbar-nav:last-child .item:last-child, .portfolio-navbar .navbar-nav:last-child .item:last-child a {
    padding-right: 0
}

.portfolio-navbar .logo {
    font-size: 1.5rem
}

.portfolio-navbar.fixed-top + .page {
    padding-top: 62px
}

@media (min-width: 576px) {
    .navbar {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem
    }

    .portfolio-navbar.fixed-top + .page {
        padding-top: 5.5rem
    }
}

.page-footer {
    padding-top: 35px;
    border-top: 1px solid #ddd;
    text-align: center;
    padding-bottom: 20px
}

.page-footer a {
    margin: 0 10px;
    color: #282b2d;
    font-size: 18px
}

.page-footer .links, .page-footer a {
    display: inline-block
}

.page-footer .social-icons {
    margin-top: 20px;
    margin-bottom: 16px
}

.page-footer .social-icons a {
    font-size: 18px;
    margin: 0 3px;
    color: #fff;
    border: 1px solid;
    opacity: .75;
    border-radius: 50%;
    width: 36px;
    display: inline-block;
    height: 36px;
    text-align: center;
    background-color: #c5c9d2;
    line-height: 34px
}

.page-footer .social-icons a:hover {
    opacity: 1
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.pika-single:after, .pika-single:before {
    content: " ";
    display: table
}

.pika-single:after {
    clear: both
}

.pika-single {
    *zoom: 1
}

.pika-single.is-hidden {
    display: none
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5)
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px
}

.pika-title {
    position: relative;
    text-align: center
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background-color: #fff
}

.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0
}

.pika-next, .pika-prev {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0
}

.pika-next:hover, .pika-prev:hover {
    opacity: 1
}

.is-rtl .pika-next, .pika-prev {
    float: left;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
    *left: 0
}

.is-rtl .pika-prev, .pika-next {
    float: right;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
    *right: 0
}

.pika-next.is-disabled, .pika-prev.is-disabled {
    cursor: default;
    opacity: .2
}

.pika-select {
    display: inline-block;
    *display: inline
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0
}

.pika-table td, .pika-table th {
    width: 14.285714285714286%;
    padding: 0
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    text-align: center
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5
}

.pika-week {
    font-size: 11px;
    color: #999
}

.is-today .pika-button {
    color: #3af;
    font-weight: 700
}

.has-event .pika-button, .is-selected .pika-button {
    color: #fff;
    font-weight: 700;
    background: #3af;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px
}

.has-event .pika-button {
    background: #005da9;
    box-shadow: inset 0 1px 3px #0076c9
}

.is-disabled .pika-button, .is-inrange .pika-button {
    background: #d5e9f7
}

.is-startrange .pika-button {
    color: #fff;
    background: #6cb31d;
    box-shadow: none;
    border-radius: 3px
}

.is-endrange .pika-button {
    color: #fff;
    background: #3af;
    box-shadow: none;
    border-radius: 3px
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3
}

.is-outside-current-month .pika-button {
    color: #999;
    opacity: .3
}

.is-selection-disabled {
    pointer-events: none;
    cursor: default
}

.pika-button:hover, .pika-row.pick-whole-week:hover .pika-button {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px
}

.pika-table abbr {
    border-bottom: none;
    cursor: help
}
